.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
    z-index: 10;
  }
}

.delete-event-btn {
  height: 10vh;
  width: 20vw;
  margin: auto;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  margin-right: 'auto';
  margin-left: '48%';
  margin-top: '20%';
  padding-left: '25%';
}
